<div class="container-fluid text-center p-4">
    <h3>Settimana dalì alà</h3>
    <br>
    <!-- <form action="index.php" method="GET">
        <div class="popup-btn-left">
            <button class="btn btn-outline-info" name="settimana" value="ciaciao">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg>
            </button>
        </div>
        <div class="popup-btn-right">
            <button class="btn btn-outline-info" name="settimana" value="ciaciao">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </button>
        </div>
    </form> -->
    <table class="table table-bordered m-auto w-75">
        <thead class="thead-dark">
            <tr>
                <th class="text-center align-middle">Ora</th>
                <th class="text-center align-middle">Lunedì</th>
                <th class="text-center align-middle">Martedì</th>
                <th class="text-center align-middle">Mercoledì</th>
                <th class="text-center align-middle">Giovedì</th>
                <th class="text-center align-middle">Venerdì</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of turni; let i = index">
                <th>{{ i + 1 }}</th>
                <td>Ciao</td>
                <td>Ciao</td>
                <td>Ciao</td>
                <td>Ciao</td>
                <td>Ciao</td>
            </tr>
        </tbody>
    </table>
    <br>
    <a routerLink="/admin"><button class="btn btn-primary">ADMIN</button></a>
</div>
