<footer class="border-top py-3 px-5 text-center bg-light">
    Creato da: 
    <a class="text-decoration-none" href="https://github.com/EdoardoCroci/">Edoardo Croci</a>, 
    <a class="text-decoration-none" href="https://github.com/LazzaII/">Francesco Lazzarelli</a>, 
    <a class="text-decoration-none" href="https://github.com/Samu902/">Samuele Marrani</a> 
    <!-- |
    Proposto dal prof. <a class="text-decoration-none" href="https://it.linkedin.com/in/mauro-guasti-13aa96a9">Mauro Guasti</a> --> 
    <br>
    Tutti i diritti riservati © <a class="text-decoration-none" href="https://www.itismeucci.edu.it/">ITIS Antonio Meucci Firenze</a>
</footer>
